.catalog {
  padding: 60px 6% 56px 7%;
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 50px 3% 56px 4%;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 0 64px 0;
  }
}

.catalog__filter {
  width: 21.5%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__store {
  margin-left: auto;
  width: 75.5%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
