.close {
  position: absolute;
  top: 11px;
  right: 9px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    top: 6px;
    right: 5px;
  }
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 9px;
  width: 17px;
  height: 2px;
  background-color: $text;
}

.close::before {
  transform: rotate(-45deg);
}

.close::after {
  transform: rotate(45deg);
}

.close:hover::before,
.close:hover::after,
.close:focus::before,
.close:focus::after {
  background-color: $accent;
}
