.directory {
  padding: 63px 0 74px 0;

  text-align: center;
  color: $white;
  background-color: $accent;
  background-image: url("../img/intro-desktop-catalog.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-desktop-catalog@2x.jpg");
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/intro-tablet-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-tablet-catalog@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    padding: 48px 0 77px 0;
  }
}

.directory h1 {
  margin-bottom: 0;
  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}

.directory p {
  margin-top: 2px;

  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;

  @media (max-width: $mobile-width) {
    width: 80%;
    margin: 4px auto;
  }
}
