.footer {
  padding: 56px 0 50px 0;

  background-color: $black;
  color: $white;

  @media (max-width: $tablet-width) {
    padding: 14px 14% 20px 2%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 89%;
  margin: 0 4% 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 14px 4% 28px 2%;
  }
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer__form {
  width: 41.5%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 97%;
  }
}

.footer div:not(.footer__wrap) {
  margin: 22px auto;

  @media (max-width: $tablet-width) {
    margin: 26px auto 15px auto;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.footer li {
  margin: 18px 0;

  @media (max-width: $mobile-width) {
    margin: 18px 10px;
  }
}

.footer a {
  fill: $white;
}

.footer a:hover,
.footer a:focus {
  color: $accent;
  fill: $accent;
}
