.log-in {
  position: relative;
  width: 430px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 442px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.log-in--modal {
  display: none;
}

.log-in--active {
  display: block;
  position: absolute;
  z-index: 2;
  top: 2.44%;
  left: calc(50% - 215px);

  background-color: $background-blog;

  @media (max-width: $tablet-width) {
    top: 1.66%;
    left: calc(50% - 221px);
  }

  @media (max-width: $mobile-width) {
    left: calc(50% - 135px);
    top: 0.93%;
  }
}

.log-in__close {
  display: none;
}

.log-in--modal .log-in__close {
  display: block;
}

.log-in img {
  display: block;
  width: 430px;
  height: 138px;

  @media (max-width: $tablet-width) {
    width: 442px;
    height: 138px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    height: 84px;
  }
}

.log-in form {
  display: flex;
  flex-direction: column;

  padding: 0 44px 41px 44px;

  @media (max-width: $tablet-width) {
    padding: 0 51px 41px 51px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 14px 25px 14px;
  }
}

.log-in h3 {
  margin-top: 50px;
  margin-bottom: 9px;

  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-top: 38px;

    font-size: 24px;
    line-height: 29px;
  }
}

.log-in input {
  margin: 13px 0;
  height: 40px;
  width: 100%;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: $text;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $text;

  @media (max-width: $mobile-width) {
    margin: 10px 0;
  }
}

.log-in input::placeholder {
  color: $placeholder;
}

.log-in a {
  margin-top: -7px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $placeholder;
  text-align: end;
}

.log-in a:hover,
.log-in a:focus {
  color: $accent;
}

.log-in__submit {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;

  color: $white;
  background-color: $accent;
  border: 1px solid $accent;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-top: 37px;
  }
}

.log-in__submit:hover,
.log-in__submit:focus {
  background-color: transparent;
  color: $text;
}

.log-in__no-registration {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
  color: $placeholder;
}

.log-in__no-registration a {
  margin: auto 7px;
  font-size: 14px;
  line-height: 21px;
  color: $text;

  @media (max-width: $tablet-width) {
    margin: auto 2px;
  }
}

.log-in__no-registration a:hover,
.log-in__no-registration a:focus {
  color: $accent;
}

.log-in .close::before,
.log-in .close::after {
  @media (max-width: $tablet-width) {
    width: 24px;
  }

  @media (max-width: $mobile-width) {
    width: 17px;
  }
}
