.logo {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 30px;
  left: calc(50% - 33px);
  // fill="#A87B62"
  fill: $accent;

  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
    top: 20px;
    left: calc(50% - 26px);
  }
}

.logo--open {
  fill: $white;
}

.logo svg {
  width: 66px;
  height: 66px;

  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }
}
