.search {
  position: relative;
  display: block;
  margin: 10px 9px;

  @media (max-width: $tablet-width) {
    margin: 15px;
    margin-top: 47px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.search button,
.search input {
  border: none;
}

.search button {
  position: absolute;
  z-index: 1;
  width: 26px;
  height: 20px;
  top: 4px;
  left: 1px;

  background-color: transparent;
  fill: $black;

  @media (max-width: $tablet-width) {
    top: 13px;
    left: 6px;

    fill: $white;
  }
}

.search input {
  padding-left: 35px;

  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;

  @media (max-width: $tablet-width) {
    height: 40px;
    width: 100%;

    background-color: $light-white;
    border-radius: 21px;
  }
}

.search input::placeholder {
  @media (max-width: $tablet-width) {
    visibility: hidden;
  }
}
