.slider {
  position: relative;
  margin: 0 auto;
  padding: 92px 1% 50px 1%;
  max-width: 1200px;
  width: 100%;

  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 41px 3.5% 20px 3.5%;
  }

  @media (max-width: $mobile-width) {
    padding: 31px 1% 15px 1%;
  }
}

.slider__wrapper {
  max-width: 1005px;

  @media (max-width: $tablet-width) {
    max-width: 685px;
    padding: 0 15px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    padding: 0 10px;
  }
}

.slider--catalog {
  padding-top: 9px;
  padding-bottom: 125px;

  @media (max-width: $tablet-width) {
    padding-top: 3px;
    padding-bottom: 74px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-bottom: 63px;
  }
}

.slider a {
  display: block;
}

.slider img {
  width: 97%;
  height: auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
  }
}

.slider h2 {
  margin-bottom: 25px;

  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;

  @media (max-width: $tablet-width) {
    margin-bottom: 17px;
  }
}

.slider p {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 61px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  border-bottom: 1px solid $accent;

  @media (max-width: $tablet-width) {
    margin-bottom: 49px;

    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 39px;
  }
}

.slider__button {
  position: absolute;
  width: 29px;
  height: 9px;
  top: 154px;
  stroke: $accent;
  fill: $accent;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
    top: 109px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider--catalog .slider__button {
  top: 75px;

  @media (max-width: $tablet-width) {
    top: 71px;
  }
}

.slider__button:hover,
.slider__button:focus {
  stroke: $text;
}

.slider__button svg {
  width: 29px;
  height: 9px;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.slider__button--prev {
  left: 0;

  @media (max-width: $tablet-width) {
    left: 35px;
  }
}

.slider--catalog .slider__button--prev {
  left: 15px;

  @media (max-width: $tablet-width) {
    left: 45px;
  }
}

.slider__button--next {
  right: 15px;

  @media (max-width: $tablet-width) {
    right: 45px;
  }
}

.slider__link {
  @media (max-width: $tablet-width) {
    width: 92%;
  }

  @media (max-width: $mobile-width) {
    width: 88%;
  }
}

.slider a:hover,
.slider a:focus,
.slider__link:hover h3,
.slider__link:focus h3 {
  color: $accent;
}

.slider__link h3 {
  margin-top: 15px;
  margin-bottom: 7px;

  color: $text;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $mobile-width) {
    margin-top: 10px;
  }
}

.slider__link p {
  margin-bottom: 49px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: none;

  @media (max-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
}

.slider .swiper-pagination-bullet {
  margin: 0 6px;
  color: $placeholder;
  cursor: pointer;
}

.slider .swiper-pagination-bullet:hover,
.slider .swiper-pagination-bullet:focus {
  color: $accent;
}


.slider .swiper-pagination-bullet-active {
  color: $text;
}

.slider .swiper-pagination-current,
.slider .swiper-pagination-total {
  margin: 0 6px;
}
