.store {
  @media (max-width: $tablet-width) {
    margin-top: 27px;
  }
}

.store__container {
  max-width: 1200px;
  width: 100%;
}

.store__wrapper {
  max-width: 1200px;
  width: 100%;

  @media (max-width: $tablet-width) {
    max-width: 768px;
  }

  @media (max-width: $mobile-width) {
    max-width: 320px;
  }
}

.store__slide {
  width: 100%;

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.store__slide ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.store__slide li {
  width: 33%;

  @media (max-width: $tablet-width) {
    width: 33%;
  }

  @media (max-width: $mobile-width) {
    width: 50%;
  }
}

.store__slide a {
  display: block;
  margin: 17px 15px;

  color: $text;

  @media (max-width: $tablet-width) {
    margin: 17px 15px;
  }

  @media (max-width: $mobile-width) {
    margin: 12px 15px;
  }
}

.store__slide a:hover,
.store__slide a:focus {
  color: $accent;
}

.store__slide img {
  display: block;
  width: 100%;
  height: auto;

  background-color: $background-blog;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
    min-height: 136px;
  }
}

.store__slide h3 {
  margin-top: 21px;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  @media (max-width: $mobile-width) {
    margin-top: 16px;
  }
}

.store__slide p {
  margin-top: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.store__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;

  @media (max-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    margin-top: 29px;
  }
}

.store__button:hover,
.store__button:focus {
  color: $accent;
}

.store__button--prev {
  margin-left: 17px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.store__button--next {
  margin-right: 17px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-right: 22px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.store__pagination {
  margin-right: 36px;

  @media (max-width: $tablet-width) {
    margin-right: 35px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.store__pagination .swiper-pagination-bullet {
  margin: 0 7px;
  color: $placeholder;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin: 0 12px;
  }
}

.store__pagination .swiper-pagination-bullet:hover,
.store__pagination .swiper-pagination-bullet:focus {
  color: $accent;
}

.store__pagination .swiper-pagination-bullet-active {
  color: $text;
}
