@import "../sass/variables.scss";
@import "../sass/fonts.scss";
@import "../sass/blocks/swiper.scss";
@import "../sass/blocks/about.scss";
@import "../sass/blocks/blog.scss";
@import "../sass/blocks/body.scss";
@import "../sass/blocks/cart.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/close.scss";
@import "../sass/blocks/company.scss";
@import "../sass/blocks/crawlers.scss";
@import "../sass/blocks/directory.scss";
@import "../sass/blocks/faq.scss";
@import "../sass/blocks/filter.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/information.scss";
@import "../sass/blocks/log-in.scss";
@import "../sass/blocks/logo.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/modal-wrapper.scss";
@import "../sass/blocks/pictures.scss";
@import "../sass/blocks/product.scss";
@import "../sass/blocks/search.scss";
@import "../sass/blocks/sections.scss";
@import "../sass/blocks/shopping-cart.scss";
@import "../sass/blocks/slider.scss";
@import "../sass/blocks/social.scss";
@import "../sass/blocks/store.scss";
@import "../sass/blocks/subscribe.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
